@charset "UTF-8";

body{
    background-color: black;
}

h1, h2, h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 > a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: white;
}