@charset "UTF-8";

body{
    background-color: black;
}

h1, h2, h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 4px;
}

a:hover{
    text-decoration: underline;
    color: white;
}