@charset "UTF-8";

header{
    background-color: black;
    text-align: center;
    margin: 10px 10px;
}
header>h1{
    color: white;
    text-transform: uppercase;
    padding-top: 50px;
}
header>p{
    color: white;
    padding-bottom: 50px;
}

footer{
    background-color: black;
}
footer>p{
    color: white;
    text-align: center;
}