@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: gray;
    padding: 10px;
    

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header> h1{
    color: white;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.526);
    margin-bottom: 20px;
    flex: 0 0 200px;
    align-content: flex-start;
}

header > nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a{
    text-decoration: none;
    background-color: black;
    padding: 10px;
    margin: 5px;
    color: white;
    text-align: center;
    border-radius: 5px;
}

header > nav > a:hover{
    background-color: white;
    color: black;
    transition: backgroung-color .5s;
}

body{
    background-color: lightgrey;
    font-size: 1em
}

main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.44);
}

article{
    padding: 10px;
}