@charset "UTF-8";

body{
    font-family:'Courier New', Courier, monospace;
    background-color:#E9D9D2 ;
}

h1{
   text-align: center;
   color: #3E1D0E;
}

h2{
   color: #693D2A;
}

a {
    text-decoration: none;
    color: #3E1D0E;
    font-weight: bold;
}

a:visited {
    color: #aa7f6c;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #CFA492;
}